body {
    top: 0px;
    left: 0px;
    width: 1920px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
}

.heroImg {
    background-image: url("../Assets/Pictures/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    display: flex;
}

.Txtbg {
    display: flex;
    margin-top: 30rem;
    height: 232px;
    background: #000324 0% 0% no-repeat padding-box;
    opacity: 0.8;
    background-color: #000324;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    justify-content: center;
    color: #FFFFFF;
}

.nav-link {
    color: #FFFFFF;
}

.navbar-custom {
    display: flex;
    text-decoration-color: #FFFFFF;
    background-color: #000324;
    height: 120px;
    width: 1920;
    opacity: 1;
    width: 100%;
    color: #000324;
}

.hamHome {
    display: flex;
    width: 369px;
    height: 416px;
    opacity: 1;
    justify-content: flex-end;
    padding: 1rem;
}

.back {
    top: 1235px;
    left: 0px;
    width: 1920px;
    height: 738px;
    opacity: 1;
    background-image: url("../Assets/Pictures/bg2.jpg");
}

.back2 {
    width: 1920;
    height: 548px;
    opacity: 1;
    background-image: url("../Assets/Pictures/bg.jpg");
}

.back3 {
    width: 1137px;
    height: 207px;
    background: #000324 0% 0% no-repeat padding-box;
    opacity: 1;

}

.words {
    display: flex;
    justify-content: center;
}

.i1 {
    padding: 2rem;
}

.i2 {
    padding: 2rem;
}

.i3 {
    padding: 2rem;
}

.welc {
    width: 753px;
}

.hamWed {
    display: flex;
    justify-content: flex-end;
    width: 561px;
    height: 234px;
    opacity: 1;
}

.beachWed {
    width: 561px;
    height: 95px;
}

.hamSpring {
    display: flex;
    justify-content: flex-start;
    width: 561px;
    height: 234px;
    opacity: 1;
}

.packageTable {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.fullBloom {
    width: 561px;
    height: 95px;
}

.fullBloomPic {
    display: flex;
    justify-content: flex-start;
    width: 561px;
    height: 234px;
    opacity: 1;
}

.hamCheese {
    display: flex;
    justify-content: flex-start;
    width: 561px;
    height: 234px;
    opacity: 1;
}
.hamReserve {
    width: 1137px;
    height: 414px;
}

.money {
    color: #1F51A8;
}

.room {
    color: #FFFFFF;
    font-family: Dosis;
}

.sourceSansFont {
    font-family: Source Sans Pro;
}

.Dosis {
    font-family: Dosis;
}

.col-4 {
    height: 522px;
    width: 400px;
}

.button {
    background-color: #004CC7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.Size {
    font-size: xx-large;
}

.Run {
    width: 456px;
    height: 57px;
    text-align: center;
    font: normal normal normal 45px/57px Dosis;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
}

.Explore {
    width: 418px;
    height: 20px;
    text-align: center;
    font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
}

.hour {
    width: 150px;
    height: 101px;
}

.breakfast {
    width: 150px;
    height: 104px;
}

.AmenIcon {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
}

.valet {
    width: 100px;
    height: 115px;
}

.resRoom {
    top: 3797px;
    left: 392px;
    width: 1137px;
    height: 414px;
    opacity: 1;
}

footer {
    padding-top: 1rem;
    background-color: #000324;
    left: 0px;
    height: 300px;
}

.footLogo {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.footTxtOne {
    padding: 1rem;
    width: 316px;
    height: 20px;
    text-align: center;
    font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
}
.footTxtTwo {
    padding: 1rem;
    width: 316px;
    height: 20px;
    text-align: center;
    font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #E5FEFF;
    opacity: 1;
}