@font-face {
    src: url("../Assets/Font/Dosis-VariableFont_wght.ttf");
    font-family: Dosis;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.color {
    color: wheat;
}

.center {
    text-align: center;
}

.realCenter {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
}

.rowDems {
    width: 100%;
    height: 120px;
}

.rowDems2 {
    align-content: center;
    width: 60%;
    height: 120px;
}

.fontSansBold {
    font-family: Source Sans Pro;
}

.fontSansBoldBig {
    font-family: Source Sans Pro;
    font-size: large;
}

.fontSansReg {
    font-family: Source Sans Pro;
    font-size: 16px;
}

.fontSansRegC {
    font-family: Source Sans Pro;
    font-size: small;
    text-align: center;
    color: #FFFFFF;
}

.fontSansRegCa {
    font-family: Source Sans Pro;
    font-size: small;
    color: #FFFFFF;
}

.hTxt {
    font-family: Dosis;
    color: #FFFFFF;
    text-align: center;

}

.hTxt2 {
    font-family: Dosis;
    color: #1A1B26;
}
.Dosis {
    font-family: Dosis;
}
.Txtbg0 {
    background-color: #000324;
    opacity: 80%;
    margin-left: 15px;

}

.Txtbg {
    width: 945px;
    padding: 75px;
    background-color: #000324;
    opacity: 80%;
}

.Txtbg1 {
    height: 100px;
    background-color: #000324;
    width: 50vh
}

.Txtbg2 {
    width: auto;
    padding: 25px;
    background-color: #000324;
    height: auto;
}

.NAVBAR {
    display: flex;
    justify-content: center;
    width: 100%;
}

.bGColor {
    background: #000324;
}

.heroTxt0 {
    height: 225px;
    color: #E5FEFF;
    text-align: center;
}

.heroTxt {
    padding: 200px;
    color: #E5FEFF;
    text-align: center;
}

.heroTxt2 {
    font-family: Dosis;
    color: #E5FEFF;
    text-align: center;
    padding: 50px;
}

.heroTxt3 {
    font-family: Dosis;
    color: #1A1B26;
    text-align: center;
}

.heroTxt4 {
    font-family: Dosis;
    color: #1A1B26;
}

.heroTxt5 {
    font-family: Source Sans Pro;
    color: #1F51A8;
}

.heroTxt6 {
    font-family: Dosis;
    color: #E5FEFF;
    margin: 50px;
}

.heroimg0 {
    background-image: url("../assets/pictures/header.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.heroimg {
    background-image: url("../assets/pictures/header.jpg");
    background-position: center;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: auto;
}

.heroimg2 {
    background-image: url("../assets/pictures/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroimg4 {
    background-image: url("../assets/pictures/bg.jpg");
    background-position: center;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: auto;
}

.heroimg3 {
    background-image: url("../assets/pictures/bg.jpg");
    background-position: center;
    background-position: inherit;
    background-repeat: repeat;
    background-size: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: auto;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.caption {
    display: block;
}

.heroimg4 {
    background-image: url("../assets/pictures/hamsterreserve.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroimg5 {
    background-image: url("../assets/pictures/bg2.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    height: auto;

}

.heroimg6 {
    background-image: url("../assets/pictures/bg2.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    height: auto;

}

.hamImg {
    top: 728px;
    left: 393px;
    width: 369px;
    height: 416px;
}

.imgh {
    width: 561px;
    height: 234px;
}

.img-col {
    flex-basis: 40%;
}

.cardImg {
    top: 1339px;
    left: 1149px;
    width: 369px;
    height: 190px;
}

.review {
    border: 2px solid white;
    padding: 2px 4px;
    display: inline-block;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.container1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.container2 {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.container5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnav {
    background-color: #00032433;
    float: inline-end;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bg-img {
    background-image: url("../assets/pictures/hamsterreserve.jpg");
    height: 90%;
    width: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.container3 {
    width: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #00032433;
}
.topnav a {
    float: center;
    color: #E5FEFF;
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
}

/* ------------------------------------------------------------ */
.pool {
    width: 155px;
    height: 110px;
}

.valet {
    width: 100px;
    height: 115px;
}

.breakAnd24 {
    width: 150px;
    height: 101px;
}

.whiteFont {
    color: white;
}

.button {
    background-color: #004CC7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 150px;
    height: 50px;
}

.sourceSansFont2_0 {
    font-family: Source Sans Pro;
}
.center {
    text-align: center;

}
.navbar-toggle.collapsed {
    background-color: white !important;
}
